{
  "contentFilters": false,
  "categories": [
    {
      "categoryName": "UVM",
      "structures": [
        {
          "name": "Default UVM message",
          "enabled": true,
          "structure": "?(# )<severity:uvm_severity> <?file_line_str:file_and_line>@ <timestamp:long><?timeunit:word>: <report_object_name:report_object> [<message_id:word>] <message:text>"
        }
      ]
    },
    {
      "categoryName": "Questa",
      "structures": [
        {
          "name": "Questa Message",
          "enabled": false,
          "structure": "?(# )** <sim_severity:severity>?( \\(suppressible\\)): <?file:file_path>\\(<?line:file_line>\\): \\(<v_error_tool:word>-<v_error_id:int>\\)<message:text>"
        },
        {
          "name": "Questa Message Generic",
          "enabled": false,
          "structure": "?(# )** <sim_severity:severity>: <?file:file_path>\\(<?line:file_line>\\): <message:text>"
        }
      ]
    },
    {
      "categoryName": "VCS",
      "structures": [
        {
          "name": "VCS Syntax Error Message",
          "enabled": false,
          "structure": "<sim_severity:severity>-[<message_id:text>] Syntax error<message:text><file:vcs_file_name>, <line:file_line>?( \\(expanding macro\\)):<details:text>"
        },
        {
          "name": "VCS Source File Message",
          "enabled": false,
          "structure": "<sim_severity:severity>-[<message_id:text>] Source file cannot be opened<message:text><file:vcs_file_name>, <line:file_line><details:text>"
        },
        {
          "name": "VCS Module Redeclared Message",
          "enabled": false,
          "structure": "<sim_severity:severity>-[<message_id:text>] Module previously declared<message:text>:<file:vcs_file_name>, <line:file_line>:<details:text>"
        },
        {
          "name": "VCS Message Generic 1",
          "enabled": false,
          "structure": "<sim_severity:severity>-[<message_id:text>] <message:single_line_text><file:vcs_file_name>, <line:file_line><details:text>"
        },
        {
          "name": "VCS Message Generic 2",
          "enabled": false,
          "structure": "<sim_severity:severity>-[<message_id:text>] <message:text>"
        }
      ]
    },
    {
      "categoryName": "XRUN",
      "structures": [
        {
          "name": "NC Tool UPF/CPF Message",
          "enabled": false,
          "structure": "<nc_tool:ius_tool>: *<sim_severity:severity>,<nc_error_code:word>: [LPS]<message:text> \\(<file:file_path>:<line:file_line>\\)<?details:text>."
        },
        {
          "name": "NC Tool Message",
          "enabled": false,
          "structure": "<nc_tool:ius_tool>: *<sim_severity:severity>,<nc_error_code:word> \\(<file:file_path>,<line:file_line>?(|)<?column:int>\\): <message:text>"
        },
        {
          "name": "NC Tool Message Generic",
          "enabled": false,
          "structure": "<nc_tool:ius_tool>: *<sim_severity:severity>,<nc_error_code:word>: <message:text>"
        }
      ]
    }
  ]
}